doctype html
// saved from url=(0049)http://www.manageaddiction.com/treatment-program/
html.chrome.chrome64.html_boxed.responsive.js_active.csstransforms.csstransforms3d.csstransitions.mti-inactive(lang='en-US', prefix='og: http://ogp.me/ns#', style='padding-bottom: 35px;')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		// utf-8 works for most cases
		meta(name='viewport', content='width=device-width')
		// Forcing initial-scale shouldn't be necessary
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		// Use the latest (edge) version of IE rendering engine
		title Recovery Pad
		link(href='/assets/css/css', rel='stylesheet', type='text/css')
		style(type='text/css').
			/* What it does: Remove spaces around the email design added by some email clients. */
			/* Beware: It can remove the padding / margin and add a background color to the compose a reply window. */
			html,
			body {
			margin: 0;
			padding: 0;
			height: 100% !important;
			width: 100% !important;
			font-family: 'Helvetica', 'Arial', sans-serif;
			}
			[style*='Open Sans'] {
			font-family: 'Open Sans', Arial, sans-serif !important;
			}
			a{color:#1fa4d3; text-decoration:none;}
			/* What it does: Stops email clients resizing small text. */
			* {
			-ms-text-size-adjust: 100%;
			-webkit-text-size-adjust: 100%;
			}
			/* What it does: Forces Outlook.com to display emails full width. */
			.ExternalClass {
			width: 100%;
			}
			/* What it does: Stops Outlook from adding extra spacing to tables. */
			table,
			td {
			mso-table-lspace: 0pt;
			mso-table-rspace: 0pt;
			}
			/* What it does: Fixes webkit padding issue. */
			table {
			border-spacing:0 !important;
			}
			/* What it does: Fixes Outlook.com line height. */
			.ExternalClass,
			.ExternalClass * {
			line-height: 100%;
			}
			/* What it does: Fix for Yahoo mail table alignment bug. */
			table {
			border-collapse: collapse;
			margin: 0 auto;
			}
			/* What it does: Uses a better rendering method when resizing images in IE. */
			img {
			-ms-interpolation-mode:bicubic;
			}
			/* What it does: Overrides styles added when Yahoo's auto-senses a link. */
			.yshortcuts a {
			border-bottom: none !important;
			}
			/* What it does: Overrides blue, underlined link auto-detected by iOS Mail. */
			/* Create a class for every link style needed; this template needs only one for the link in the footer. */
			.mobile-link--footer a {
			color: #666666 !important;
			}
			/* What it does: Overrides styles added images. */
			img {
			border:0 !important;
			outline:none !important;
			text-decoration:none !important;
			}
			.hide {
			display: none;
			}
			/* Media Queries */
			@media screen and (max-device-width: 600px), screen and (max-width: 600px) {
			/* What it does: Overrides email-container's desktop width and forces it into a 100% fluid width. */
			.email-container {
			width: 100% !important;
			}
			/* What it does: Forces images to resize to the width of their container. */
			img[class="fluid"],
			img[class="fluid-centered"] {
			width: 100% !important;
			max-width: 100% !important;
			height: auto !important;
			margin: auto !important;
			}
			/* And center justify these ones. */
			img[class="fluid-centered"] {
			margin: auto !important;
			}
			/* What it does: Forces table cells into full-width rows. */
			td[class="stack-column"],
			td[class="stack-column-center"] {
			display: block !important;
			width: 100% !important;
			direction: ltr !important;
			}
			/* And center justify these ones. */
			td[class="stack-column-center"] {
			text-align: center !important;
			}
			/* Hides content on mobile. */
			.table_desktop {
			display: none !important
			}
			/* Creates space if needed on mobile. */
			.mobile-space {
			display: block;
			height: 15px
			}
			/* Creates break if needed on mobile. */
			.mobile-break {
			display: block;
			}
			#classimg.mobilehide {
			display: none;
			}
			.hide {
			display: block !important;
			}
			}

			
	body(leftmargin='0', topmargin='0', marginwidth='0', marginheight='0', bgcolor='#d7eff7', style='margin:0; padding:0; -webkit-text-size-adjust:none; -ms-text-size-adjust:none;')

		block content
			